{% extends 'base.html' %}

{% block content %}

<div class="auth-body">
    
    <div class="auth-box">
        <h2>Iniciar Sesión</h2>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div style="background: rgba(255,0,0,0.2); color: #ffcccb; padding: 10px; border-radius: 10px; margin-bottom: 20px;">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <form method="POST" action="/login">
            <input type="email" name="email" placeholder="Tu Correo Electrónico" required>
            <input type="password" name="password" placeholder="Tu Contraseña" required>
            
            <button type="submit" class="btn-main">Entrar al Aula</button>
        </form>
        
        <p>
            ¿Aún no tienes cuenta? <br>
            <a href="/registro">Crear una cuenta nueva</a>
        </p>
    </div>

</div>

{% endblock %}